<footer>
  <div class="footer" fxLayout="row">
    <div fxLayout="column">
      <div
        class="logo"
        id="logo_erasmus"
        (click)="openUrl('https://erasmus-plus.ec.europa.eu')"
      ></div>
      <div fxLayout="row">
        <div
          fxFlex="30"
          class="logo"
          id="logo_movit"
          (click)="openUrl('http://www.movit.si')"
        ></div>
        <div
          fxFlex="30"
          class="logo"
          id="logo_apel"
          (click)="openUrl('https://www.apel-project.eu/en/home-3/')"
        ></div>
      </div>
    </div>

    <div
      class="logo"
      id="logo_mcc"
      (click)="openUrl('https://www.mc-celje.si')"
    ></div>
    <div
      class="logo"
      id="logo_best"
      (click)="openUrl('https://www.best.at')"
    ></div>
    <div
      class="logo"
      id="logo_int_school"
      (click)="openUrl('https://internationalschoolofentrepreneurship.com')"
    ></div>
    <div
      class="logo"
      id="logo_national"
      (click)="openUrl('http://www.nbschool.eu')"
    ></div>

    <div
      class="logo"
      id="logo_bo_yana"
      (click)="openUrl('https://www.learn-to-inspire.com')"
    ></div>
  </div>
</footer>
