<footer>
  <div class="footer" fxFlex fxLayout="row">
    <div>
      <div class="logo" id="logo_erasmus"></div>
      <div class="logo" id="logo_movit"></div>
    </div>
    <!-- <div fxLayout="row" fxFlex="80" style="width: 60%"> -->
    <div
      class="logo"
      id="logo_mcc"
      (click)="openUrl('https://www.mc-celje.si')"
    ></div>
    <div
      class="logo"
      id="logo_best"
      (click)="openUrl('https://www.best.at')"
    ></div>
    <div
      class="logo"
      id="logo_int_school"
      (click)="openUrl('https://internationalschoolofentrepreneurship.com')"
    ></div>
    <div
      class="logo"
      id="logo_national"
      (click)="openUrl('http://www.nbschool.eu')"
    ></div>
    <!-- </div> -->

    <div
      class="logo"
      id="logo_bo_yana"
      (click)="openUrl('transformika.org')"
    ></div>
  </div>
</footer>
