<footer>
  <div class="footer" fxFlex fxLayout="row">
    <!-- <div> -->
    <div class="logo" id="logo_erasmus"></div>
    <!-- </div> -->

    <div
      class="logo"
      id="logo_mcc"
      (click)="openUrl('http://www.nbschool.eu')"
    ></div>
    <div class="logo" id="logo_best"></div>
    <div class="logo" id="logo_school"></div>
    <div class="logo" id="logo_int_school"></div>
    <div class="logo" id="logo_national"></div>
    <div class="logo" id="logo_movit"></div>
    <div class="logo" id="logo_bo_yana"></div>
  </div>
</footer>
