<div class="card-container tp-wrapper">
  <div
    [style.color]="
      deck.backSide ? getIconColor(deck.id + 'b') : getIconColor(deck.id)
    "
    class="deck"
    (click)="takeCard(deck)"
    [style.background]="getDeckBG(deck)"
    *ngFor="let deck of decks"
  >
    <button mat-icon-button class="flip">
      <mat-icon
        [style.color]="getIconColor(deck.id)"
        (click)="flipDeck(deck); $event.stopPropagation()"
        >360</mat-icon
      >
    </button>
    <span class="emptyDeckSign" *ngIf="deck.empty">X</span>
  </div>

  <div class="clear"></div>

  <div class="card-container tp-wrapper">
    <div
      class="tp-box"
      *ngFor="let card of cards"
      cdkDrag
      [cdkDragFreeDragPosition]="card.position ? card.position : { x: 0, y: 0 }"
      (cdkDragStarted)="dragMove($event, card)"
      (cdkDragEnded)="dragEnd($event, card)"
      cdkDragBoundary="body"
      [style.position]="card.position ? 'fixed' : ''"
    >
      <div
        [ngClass]="card.magnified ? 'magnify' : ''"
        class="card"
        (mousedown)="mouseDown($event)"
        [style.background-image]="
          'url(./assets/cards/YOKO_' +
          card.deckId +
          '_' +
          card.id +
          (card.side || '') +
          '.jpg)'
        "
      >
        <mat-icon
          [style.color]="getIconColor(card)"
          class="flipCard left"
          (click)="flipCard(card); $event.stopPropagation()"
          >360</mat-icon
        >
        <mat-icon
          class="middle"
          [style.color]="getIconColor(card)"
          (click)="magnify($event, card); $event.stopPropagation()"
        >
          image_search
        </mat-icon>
        <mat-icon
          class="delete"
          (click)="removeCard(card)"
          [style.color]="getIconColor(card)"
          >delete</mat-icon
        >
      </div>
    </div>
  </div>
</div>
