.tp-box {
  width: 180px;
  height: 258px;
  margin: 10px;
  position: static;
}

// .firstCard {
//   height: 255px;
//   width: 176px;
//   visibility: hidden;
//   position: absolute;

//   z-index: 0;
// }

.card {
  background-size: contain !important;
  height: 255px;
  width: 185px;
  background-color: #465658;
  border: 1px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  border-radius: 12px;
  color: #fff;
  text-align: center;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.clear {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

// .cdk-drag-animating {
//   transition: transform 0ms cubic-bezier(0, 0, 0.2, 1);
// }

// .card:last-child {
//   border: none;
// }

// .card.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
//   transition: transform 0ms cubic-bezier(0, 0, 0.2, 1);
// }

.deck {
  all: unset;
  border-radius: 12px;
  position: relative;
  //   background-color: #465658;
  //   background-size: cover;
  background-size: contain !important;
  background-repeat: no-repeat;

  height: 217px;
  width: 148px;
  margin: 10px 8px 16px;
  padding: 16px;
  display: flex;
  cursor: pointer;
  z-index: 999;
}

.delete {
  color: black;
  display: none;
  position: absolute;
  top: 0px;
  right: 5px;
  cursor: pointer;
}

.flip {
  position: relative;
  z-index: 999999;
  top: 0px;
}

.left {
  color: black;
  display: none;
  position: absolute;
  top: 0px;
  left: 5px;
  cursor: pointer;
}

.middle {
  color: black;
  display: none;
  position: absolute;
  z-index: 999999;
  top: 5px;
  left: 40%;
  cursor: pointer;
}

.card:hover .delete,
.card:hover .middle,
.card:hover .flip {
  display: block;
}

.magnify {
  //   zoom: 1.2;
  //   width: 180px;
  //   height: 258px;

  height: 327px;
  width: 238px;
}

@media screen and (max-width: 831px), screen and (max-height: 500px) {
  //   .card:hover .middle {
  //     display: block;
  //   }

  .deck {
    left: 8%;
    height: 115px;
    width: 72px;
  }

  .tp-box {
    height: 148px;
    width: 103px;
  }

  .card {
    height: 140px;
    width: 100px;
    border-radius: 8px;
  }

  .magnify {
    zoom: 2;
  }

  .card-container {
    top: -10px;
  }
}
