<!-- <div
  class="deck"
  [style.background-image]="'url(./assets/0.png)'"
  (mousedown)="takeCard()"
>
  <!-- <mat-icon class="delete" (click)="toggleSize()">resize</mat-icon>
  <span> </span>
</div> -->
<div class="card-container tp-wrapper">
  <div
    [style.color]="'white'"
    class="deck"
    (click)="takeCard(1)"
    [style.background]="'url(./assets/cards/YOKO_' + deckCards[1] + '.jpg)'"
  >
    <button mat-icon-button class="flip">
      <mat-icon
        [style.color]="getIconColor(deckCards[1])"
        (click)="flipDeck(1); $event.stopPropagation()"
        >360</mat-icon
      >
    </button>
    <!-- <mat-icon class="delete" (click)="toggleSize()">resize</mat-icon> -->
    <span> </span>
  </div>
  <div
    [style.color]="getDeckState(2) === '_front' ? 'black' : 'white'"
    class="deck"
    (click)="takeCard(2)"
    [style.background]="'url(./assets/cards/YOKO_' + deckCards[2] + '.jpg)'"
  >
    <button mat-icon-button class="flip">
      <mat-icon
        [style.color]="getIconColor(deckCards[2])"
        (click)="flipDeck(2); $event.stopPropagation()"
        >360</mat-icon
      >
    </button>
  </div>
  <div
    class="deck"
    (click)="takeCard(3)"
    [style.background]="'url(./assets/cards/YOKO_' + deckCards[3] + '.jpg)'"
  >
    <button mat-icon-button class="flip">
      <mat-icon
        [style.color]="getIconColor(deckCards[3])"
        (click)="flipDeck(3); $event.stopPropagation()"
        >360</mat-icon
      >
    </button>
    <span> </span>
  </div>
  <div
    [style.color]="getDeckState(4) === '_front' ? 'black' : 'white'"
    class="deck"
    (click)="takeCard(4)"
    [style.background]="'url(./assets/cards/YOKO_' + deckCards[4] + '.jpg)'"
  >
    <button mat-icon-button class="flip">
      <mat-icon
        [style.color]="getIconColor(deckCards[4])"
        (click)="flipDeck(4); $event.stopPropagation()"
        >360</mat-icon
      >
    </button>
    <span> </span>
  </div>
  <div class="clear"></div>

  <div class="card-container tp-wrapper">
    <div
      class="tp-box"
      *ngFor="let card of cards; let i = index"
      cdkDrag
      (cdkDragStarted)="dragMove($event, card)"
      (cdkDragEnded)="dragEnd($event, card)"
      cdkDragBoundary="body"
    >
      <div
        [ngClass]="magnifiedCard[card] ? 'magnify' : ''"
        class="card"
        (mousedown)="mouseDown($event)"
        [style.background-image]="'url(./assets/cards/YOKO_' + card + '.jpg)'"
      >
        <mat-icon
          [style.color]="getIconColor(card)"
          class="flip left"
          (click)="flipCard(i); $event.stopPropagation()"
          >360</mat-icon
        >
        <mat-icon
          [hidden]="magnifiedCard[i]"
          class="middle"
          [style.color]="getIconColor(card)"
          (click)="magnify(card); $event.stopPropagation()"
        >
          image_search
        </mat-icon>
        <mat-icon
          class="delete"
          (click)="removeCard(card)"
          [style.color]="getIconColor(card)"
          >delete</mat-icon
        >
      </div>
    </div>
  </div>
</div>
