<div class="container tp-wrapper" fxFlex>
  <div class="card-container tp-wrapper" fxLayout="row">
    <button
      mat-icon-button
      *ngIf="checkedIcons"
      class="leaveSelected"
      (click)="leaveSelected()"
    >
      <mat-icon class="resetIcon">apps</mat-icon>
      <span>Leave selected</span>
    </button>
    <div
      [style.color]="getDeckColor(deck)"
      class="deck"
      (click)="takeCard(deck)"
      [style.background]="getDeckBG(deck)"
      *ngFor="let deck of decks"
    >
      <button mat-icon-button class="flip">
        <mat-icon
          [style.color]="getDeckColor(deck)"
          (click)="flipDeck(deck); $event.stopPropagation()"
          >360</mat-icon
        >
      </button>
      <span
        class="deckTitle"
        [style.color]="deck.color"
        *ngIf="deck.backSide && !deck.empty"
        >{{ deck.title }}</span
      >

      <span class="emptyDeckSign" *ngIf="deck.empty">X</span>
    </div>
  </div>

  <div class="clear"></div>

  <div class="card-container tp-wrapper">
    <div class="tp-box" *ngIf="allCardsDragged()">
      <div class="firstCard"></div>
    </div>
    <div
      class="tp-box"
      *ngFor="let card of cards"
      cdkDrag
      [cdkDragFreeDragPosition]="card.position ? card.position : { x: 0, y: 0 }"
      (cdkDragStarted)="dragMove($event, card)"
      (cdkDragEnded)="dragEnd($event, card)"
      [style.position]="card.position ? 'absolute' : ''"
    >
      <div
        [ngClass]="card.magnified ? 'magnify' : ''"
        class="card"
        (mousedown)="mouseDown($event)"
        [style.background-image]="
          'url(./assets/cards/YOKO_' +
          card.deckId +
          '_' +
          card.id +
          (card.side || '') +
          '.jpg)'
        "
      >
        <div *ngIf="!showAllState">
          <mat-icon
            [style.color]="getIconColor(card)"
            class="flipCard left"
            (click)="flipCard(card); $event.stopPropagation()"
            >360</mat-icon
          >
          <mat-icon
            class="middle"
            [style.color]="getIconColor(card)"
            (click)="magnify($event, card); $event.stopPropagation()"
          >
            image_search
          </mat-icon>
          <mat-icon
            class="delete"
            (click)="removeCard(card)"
            [style.color]="getIconColor(card)"
            >delete
          </mat-icon>
        </div>

        <mat-checkbox
          *ngIf="showAllState"
          class="check"
          [checked]="card.checked"
          [color]="getIconColor(card)"
          (change)="checkToggleCard(card, $event.checked)"
        >
        </mat-checkbox>
      </div>
    </div>
  </div>
</div>
