<!-- Toolbar -->

<div
  fxFlex
  fxLayout="row"
  id="content"
  #board
  role="main"
  [style.margin-top]="marginTop"
  [ngClass]="minify ? 'allBoard' : ''"
>
  <button
    id="menu"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="showAllCards()">
      <mat-icon class="resetIcon">apps</mat-icon>

      <span>{{ TEXT.SHOW_ALL }}</span>
    </button>

    <button mat-menu-item (click)="reload()">
      <mat-icon class="resetIcon">restart_alt</mat-icon>
      <span>{{ TEXT.POSITION_RESET }}</span>
    </button>

    <button mat-menu-item (click)="resetGame()">
      <mat-icon class="resetIcon">clear</mat-icon>

      <span>{{ TEXT.CLEAR_BOARD }}</span>
    </button>
  </mat-menu>
  <div class="spacer"></div>

  <div class="magnifying" fxLayoutAlign="end center">
    <span>{{ TEXT.ZOOM }} </span>
    <button mat-icon-button [disabled]="scaleIndex > 3">
      <mat-icon [style.color]="'white'" *ngIf="minify" (click)="zoomIn()"
        >zoom_in</mat-icon
      >
      <mat-icon [style.color]="'white'" *ngIf="!minify" (click)="zoomOut()"
        >zoom_out</mat-icon
      >
    </button>
  </div>

  <!-- Resources -->
  <h2></h2>
  <p></p>
  <!-- [flipDeckEvent]="flipSubject.asObservable()" -->

  <app-card
    [clearEvent]="resetBoardSubject.asObservable()"
    [showAllEvent]="showAllSubject.asObservable()"
    [minify]="minify"
    [positionResetEvent]="positionResetSubject.asObservable()"
    (ZoomResetEvent)="zoomIn()"
  ></app-card>

  <!-- Footer -->
  <!-- <footer>
    <div class="spacer"></div>
    <p>Cards demo</p>
  </footer> -->
</div>
